sample_video
venv
.venv
__pycache__
*.pt

GunDetected
output_frames

.rtsp_streamer
gun_model
test_frame
.env
cementBag

*.json
*.avi
*.jpg
*.png
*.md
__init__.py
*.pyc
person_count
box_loading_detection
test_fire_detection.py